# FISIOTERAPIA SOFT
FISIOSOFT_TOKEN=Zkg+odZq6JUd6eKxxtErl/VFPkqd6NEAzGaTfcvQZfI=

# EVOLUTION API (WhatsApp)
EVOLUTION_API_URL=https://SEU_SERVIDOR_EVOLUTION/
EVOLUTION_API_KEY=SUA_CHAVE_AQUI
EVOLUTION_INSTANCE=fisiobot

# SERVIDOR
PORT=3000
